@import '../index.less';
@counter-style circled-alpha {
    system: fixed;
    symbols: '🐭' '🐮' '🐯' '🐰' '👹' '🤡';
    suffix: " : ";
    prefix: "";
}
@url:'../../assets/images/';

.radialGradient(@size, @dot, @base, @accent1, @accent2) {
    background:  @base;
    background-image: radial-gradient(@accent1 @dot, transparent 0),
        radial-gradient(@accent2 @dot, transparent 0);
    background-size: @size @size;
    background-position: 0 0, @size/2 @size/2;
}

.body{
    margin: 0;
    padding: 0 0 0 1rem;
    // font-size: 10px;
    #text{
        // color: yellowgreen;
        list-style-type: circled-alpha;
        font-size: 1.2rem;
        font-weight: 500;
        border: 0.2rem solid yellowgreen;
        .child1{
            color: saddlebrown;
        }
        .child2{
            color: salmon;
        }
        .child3{
            color: aqua;
        }
        p{
            margin: 0.2rem 0 0 0;
        }
        &:hover{
            background-color: burlywood;
        }
    }
    .wrap{
        width: 200px;
        height: 400px;
        border: 2px solid red;
        background:url('@{url}22.jpg') no-repeat;
        background-size: 140%;
        background-position: right 0em bottom 0px;
        background-origin: padding-box;
    }
    .background1{
        margin: 20px 0 10px 0;
        width: 200px;
        height: 100px;
        // background: repeating-linear-gradient(30deg, #fb3 0 15px, rgb(4, 224, 253) 0 30px);
        background: rgb(64, 174, 241);
        background-image:
            linear-gradient(rgb(255, 6, 6) 2px, transparent 0),
            linear-gradient(90deg, rgb(6, 248, 115) 2px, transparent 0),
            linear-gradient(rgba(49, 6, 241, 0.3) 1px,transparent 0),
            linear-gradient(90deg, rgba(252, 248, 10, 0.3) 1px,transparent 0);
        background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
        border-radius: 1em;
        padding: .1em 0 0 .2em;
        // box-shadow: 0 0 0 .6em #655;
        outline: .6em solid rgba(84, 14, 214, 0.4);
    }
    .background2{
        margin:20px 0 20px 0px;
        width: 200px;
        height: 100px;
        border-radius: 1em;
        .radialGradient(30px, 30%, rgba(134, 77, 77,0.5), rgb(216, 240, 5), rgb(3, 248, 77));
    }
}