@width: 80%;
@base-color: green;
@dark-color: darken(@base-color, 10%);

body {
  //background-color:black;
  color: black;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
}

h1 {
  color: chartreuse;
}

/*去掉列表前面的圆点*/
ul,
ol {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'SimSun', '宋体';
}

/*字体一般是指定这两个*/
select,
input {
  vertical-align: middle;
}

select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}

/*禁止文本输入框在右下角拖拽（因为拖动后会调整输入框大小）*/
img {
  border: 0;
  vertical-align: middle;
}

/* 去掉图片底侧默认的3像素空白缝隙*/
table {
  border-collapse: collapse;
}

s,
i,
em {
  font-style: normal;
  text-decoration: none;
}

/*去掉i标签和em的斜体，取消s标签的删除线*/
.bordered {
  border-top: double 5px black;
  border-bottom: inset 5px black;
}

.content {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(134, 225, 253, 0.6) 0%,
    rgba(10, 250, 250, 0.4) 50%,
    rgba(6, 71, 168, 0.2) 100%
  );
  // background: paint(waveDraw);
  .index {
    width: 100%;
    height: 30vh;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(./../assets/images/10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    & > h1 {
      height: 100%;
      text-align: center;
      font-size: 25vh;
      font-weight: 800;
      letter-spacing: 20px; //字符间距
      line-height: 1.4; //行间距
    }
  }

  .textStyle {
    width: 80vw;
    margin: 70px auto;
    text-indent: 38px; //首行缩进
    font-size: 16px;
    letter-spacing: 3px; //字符间距
    line-height: 1.4; //行间距
    text-shadow: 2px 2px pink; //文字阴影 x,y，阴影颜色
    font-weight: bold; //字体粗细
    text-align: left;
    color: chocolate;
  }

  .ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80vw;
    margin-left: 10vw;
    & > li {
      position: relative;
      width: 15vw;
      margin-top: 20px;
      border: none;
      cursor: pointer;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 5%;
      p {
        width: 100%;
        color: rgb(20, 116, 20);
        font-size: 1vw;
        margin: 0;
        text-align: left;
        padding-left: 80px;
        &::before {
          position: absolute;
          left: 0;
          width: 3vw;
          height: 100%;
          border-radius: 5%;
          text-align: center;
          background-color: rgb(2, 139, 180);
        }

        &:hover {
          color: red;
          &::before {
            background-color: rgb(0, 12, 15);
          }
        }
      }

      .css {
        &::before {
          color: rgb(222, 252, 51);
          content: 'css';
        }
      }

      .TS_JS {
        &::before {
          color: rgb(222, 252, 51);
          content: 'TS JS';
        }
      }
    }
  }

  .table0 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse; //设置边框为单
    width: 80%;
    color: black;
    margin: auto;
    margin-top: 20px;

    td,
    th {
      border: 4px solid gray;
      padding: 8px;
      text-align: center;
    }

    th {
      font-size: 1.2em;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:not(.list0):hover {
      background-color: pink;
    }
  }

  .anime {
    border: aqua 2px solid;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: pink;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 3;
  }
}

@keyframes example {
  0% {
    width: 100px;
    height: 100px;
    position: absolute;
  }

  20% {
    width: 200px;
    height: 100px;
    position: fixed;
    background-image: linear-gradient(red, yellow, blue);
  }

  40% {
    width: 100px;
    height: 200px;
    position: relative;
    background-image: linear-gradient(to right, pink, yellow, green);
    box-shadow: 13px 13px black;
  }

  60% {
    width: 300px;
    height: 100px;
    position: fixed;
    background-image: radial-gradient(red, yellow, blue);
    box-shadow: 13px 13px green;
  }

  80% {
    width: 100px;
    height: 150px;
    position: relative;
    background-image: linear-gradient(to bottom right, red, gray, blue);
    box-shadow: 13px 13px aqua;
  }

  100% {
    width: 100px;
    height: 100px;
    position: absolute;
  }
}

.learnCSS {
  margin: 100px 0 0 300px;
  width: 600px;
  height: 200px;
  background: yellowgreen;
  box-shadow: 0 0 3px 5px #655, 0 0 6px 10px deeppink,
    5px 5px 10px 20px rgba(4, 69, 247, 0.6);

  &:hover {
    background: pink;
  }
}

.Photo1 {
  width: 400px;
  height: 200px;
  opacity: 0.8;
}

.Photo2 {
  width: 400px;
  height: 200px;
  opacity: 0.2;
}
